[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbpyutils = {file = "https://github.com/fcjbispo/builds/raw/main/fbpyutils/fbpyutils-1.4.0-py3-none-any.whl"}
requests = "2.28.2"

[dev-packages]
ipykernel = "*"
black = "*"
autopep8 = "*"
vistir = "==0.6.1"
pipenv-setup = "*"
jupytext = "*"

[requires]
